<div>
  <form (ngSubmit)="onSubmit()" #locationForm="ngForm" id="locationForm">
    <div class="form-container">
      <mat-form-field appearance="outline">
        <mat-label>Name: </mat-label>
        <input matInput type="text" required id="name" name="name" maxlength="50"
        [(ngModel)]="location.name">
      </mat-form-field>
      <!-- <br> -->
      <mat-form-field appearance="outline">
        <mat-label>Description: </mat-label>
        <input matInput type="text" id="description" name="description" minlength="3" maxlength="500"
        [(ngModel)]="location.description">
      </mat-form-field>
      <!-- <br> -->
      <mat-form-field appearance="outline">
        <mat-label>Category:</mat-label>
        <mat-select name="category" [(ngModel)]="location.categoryId" required>
          <mat-option *ngFor="let category of categories" [value]="category.id">{{category.type}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button type="submit" mat-raised-button [disabled]="!locationForm.valid">Add location</button>
      <!-- add [disabled]="!f.valid" -->
    </div>
  </form>
</div>
