.form-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.location-field-large {
  /* flex-grow: 1; */
  width: 100%;
}

.location-field-small {
  flex-grow: 1;
  margin-left: 2rem;
  margin-right: 2rem;
}
