<mat-card *ngIf="location != null">
  <mat-card-title>
    <h1 class="location-name mat-display-1">{{location.name}}</h1>
  </mat-card-title>
  <mat-card-subtitle>


    <div *ngIf="location.rating > 0; else noRating">
      <mat-icon aria-hidden="false" aria-label="Example star icon">grade</mat-icon>
      <p class="mat-h2">{{location.rating}}</p>
    </div>
    <ng-template #noRating>
      <div>
        <mat-icon aria-hidden="false" aria-label="Example star icon">star_outline</mat-icon>
        <p class="mat-h2">No ratings yet!</p>
      </div>
    </ng-template>
  </mat-card-subtitle>
  <mat-card-content>
    <p class="location-description mat-h3">{{location.description}}</p>
    <form>
      <div class="form-container">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Rate location:</mat-label>
            <input matInput type="number" [formControl]="rating">
            <mat-error *ngIf="rating.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button [disabled]="!rating.valid" (click)="onRateClicked()">Rate</button>
        </div>
        <!-- *ngIf="authService.userData.value.userId == location.creatorId" -->
      </div>
    </form>
    <div *ngIf="authService.userData.value.userId == location.creatorId">
      <button mat-raised-button (click)="onDeleteClicked()" color="warn">Delete</button>
    </div>
  </mat-card-content>
</mat-card>
